<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Jesse Humberd Problems</h2>
<!--<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Current and past problems for the Jesse Humberd Scholarship</p> -->

<!-- {% include Problems/2020-02-21-Problem3.md %} -->

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> Problem 3 </p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Ralph inherits 2<sup>25</sup> dollars from a long lost relative.  He decides to gamble in a coin flipping game.  The coin is fair, so the chances are 50-50.  Ralph will bet half of his money on "heads" for each coin toss.  After 25 tosses, Ralph has less money than when he started.  What is the maximum amount of money that he could have left?</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">You can view and download the pdf of this problem here: <a href="../../../../files/Problem3-Gambling.pdf">Problem 3</a></p>
