<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Jesse Humberd Problems</h2>
<!--<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Current and past problems for the Jesse Humberd Scholarship</p> -->

<!-- {% include Problems/2020-02-21-Problem3.md %} -->

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"> Problem 4 </p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">A robot grabs a circle by touching it in three places.  The robots knows the position of these three places, which have coordinates (a,b), (c,d), and (x,y)
where a,b,c,d,x, and y are real numbers.  Help the robot find the coordinates of the center of the circle.</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">You can view and download the pdf of this problem here: <a href="../../../../files/Problem4-RobotsGrabbingCircles.pdf">Problem 4</a></p>
